@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.con {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

.box {
  height: 400px;
  width: 350px;
  margin: 20px 0px;
}
.bo {
  border-radius: 5px;
  height: 90%;
  width: 100%;
  margin: 10px 0;
}
.bo img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}
.bo img:hover {
  scale: 1.1;
}
.he {
  text-align: center;
  margin: 15px 0;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-size: 30px;
}

.Button {
  padding: 5px 10px;
  width: 350px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  background-color: #1a374d;
}

.Button a {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  .Button {
    padding: 0;
    width: 200px;
    margin-left: 75px;
  }

  .he {
    font-size: 24px;
  }

  .Button a {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .Button {
    width: 180px;
    margin-left: 84px;
  }
  .Button a {
    font-size: 16px;
  }
}

@media screen and (max-width: 450px) {
  .Button {
    margin-left: 80px;
  }
}
