@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600;700&family=Oxanium:wght@300&display=swap");

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.heading {
  font-family: "Chakra Petch";
  font-style: normal;
  font-weight: 700;
  font-size: 8vh;
  line-height: 9vh;
  text-align: center;
  color: #000000;
}

@media screen and (min-width: 501px) {
  .heading {
    font-size: 80px;
  }
}

@media screen and (max-width: 500px) {
  .heading {
    font-size: 30px;
  }
}

.team_container {
  margin-top: 4.375em;
  display: grid;
  /*grid-template-columns: repeat(3, 1fr);*/
  /*grid-template-columns: repeat(3, minmax(50px, 1fr));*/
  grid-gap: 7.5em;
}

@media (max-width: 400px) {
  .team_container {
    grid-template-columns: repeat(auto-fit, 1fr);
  }
}

@media (min-width: 1200px) {
  .team_container {
    grid-template-columns: repeat(3, 1fr);
  }
}
