@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600;700&display=swap");

.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
}
.container {
  /* width: 100%; */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 1rem 6%; */
}
.Head {
  text-align: center;
  padding: 2.5rem 0;
  font-size: 4rem;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.mainhead {
  text-align: center;
  /* padding: 1rem 0; */
  font-size: 4rem;
  color: black;
}

.head {
  text-align: center;
  /* padding: 1rem 0; */
  font-size: 3rem;
  color: black;
}
.he {
  text-align: center;
  /* font-size: 1.5rem; */
  margin-bottom: -1rem;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
  transition: all 2s;
}
.gallery img {
  width: 100%;
  transition: all 0.5s;
}
.gallery img:hover {
  scale: 1.1;
  border: 5px solid rgb(245, 245, 18);
}

@media screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }

  .head {
    font-size: 2.5rem;
  }

  .Head {
    font-size: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .head {
    font-size: 2rem;
  }

  .Head {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 425px) {
  .head {
    font-size: 1.2rem;
  }

  .Head {
    font-size: 0.6rem;
  }
}
