@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600;700&display=swap");

.head {
  background-color: #6a6464;
  height: 441px;
  color: black;
  font-weight: 700;
  font-size: 96px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.head p {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 800;
  font-size: 6rem;
}

@media screen and (max-width: 800px) {
  .head {
    font-size: 70px;
    height: 200px;
  }
}
@media screen and (max-width: 600px) {
  .head {
    font-size: 55px;
    height: 130px;
  }
}
@media screen and (max-width: 400px) {
  .head {
    font-size: 35px;
    height: 80px;
  }
}
